/* rest样式============================================================================  */

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-text-size-adjust: none;
  font-family: "Microsoft YaHei", Arial;
  font-size: 14px;
  color: #333;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

.btn {
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
select,
option,
textarea,
p,
strong,
blockquote,
th,
td,
span,
em,
i,
b,
img,
a {
  font-family: "Microsoft YaHei";
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

b {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

th,
td {
  color: #595757;
}

abbr,
acronym {
  border: 0;
}

ul {
  list-style: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

textarea {
  resize: none;
  box-shadow: none;
  color: #595757;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #595757;
}

img {
  border: none;
}