//主题色
$mainColor: #14cfa0;
$colorRed:#ff0000;
$colorPurple:#3b3b5b;
//字体颜色
$fontColor:#333;
$tipGrey:#ccc;
//按钮色
$btnSuccessHover:#00b385;
$btnDangerHover:#cc0000;
// 边框色
$inputBorder:#ccc;
$lineColor:#cccccc;
$allBorder:#ececec;
// 背景色
$bgGrey:#f7f8f8;